/**********************************************************************************
*
*    Copyright (c) 2017-today MuK IT GmbH.
*
*    This file is part of MuK Grid Snippets
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

@include media-breakpoint-down(sm) {
    .o_control_panel {
        padding-left: $o-horizontal-padding / 2;
        padding-right: $o-horizontal-padding / 2;
        .o_cp_top {
            justify-content: space-between;
            .o_cp_top_left {
                max-width: 35%;
                .breadcrumb {
                    overflow: hidden;
                    display: block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .o_cp_top_right {
                min-height: 35px;
                min-width: 65%;
                flex-grow: 1;
            }
        }
        .o_cp_bottom {
            justify-content: space-between;
            .o_cp_bottom_left {
                flex-grow: 1;
                .o_cp_action_menus,
                .o_cp_buttons {
                    flex: 1 1 100%;
                }
                .o_cp_action_menus .o_dropdown .o_dropdown_toggler_btn {
                    .o_dropdown_title {
                        display: none;
                    }
                    i:last-of-type {
                        display: none;
                    }
                    &::after {
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        content: "";
                        border-top: 0.3em solid;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0;
                        border-left: 0.3em solid transparent;
                    }
                }
            }
            .o_cp_bottom_right {
                .o_cp_pager {
                    white-space: nowrap;
                    .o_pager_counter {
                        max-width: 60px;
                        @include o-text-overflow;
                    }
                    .o_pager_previous,
                    .o_pager_next {
                        border: none;
                    }
                }
                //                 .o_search_options {
                //                     display: none;
                //                 }
            }
        }
        .breadcrumb-item {
            &:not(.active) {
                padding-left: 0;
            }
            &::before {
                content: none;
                padding-right: 0;
            }
            &:nth-last-of-type(1n + 3) {
                display: none;
            }
            &:nth-last-of-type(2) {
                &::before {
                    content: "\f053";
                    cursor: pointer;
                    color: $o-brand-primary;
                    font-family: FontAwesome;
                }
                a {
                    display: none;
                }
            }
        }
        .o_cp_buttons .btn.d-block:not(.d-none) {
            display: inline-block !important;
        }
        .o_cp_switch_buttons {
            &.show > .dropdown-menu {
                display: flex;
                min-width: 0px;
                flex-direction: row;
                align-content: center;
                justify-content: space-around;
                padding: 0;
                .btn {
                    margin: 5px;
                    border: none;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .o_controller_with_searchpanel .o_search_panel {
        display: none;
    }
}
