/**********************************************************************************
*
*    Copyright (c) 2017-today MuK IT GmbH.
*
*    This file is part of MuK Grid Snippets
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.o_field_widget {
    &.o_field_many2one .o_external_button {
        color: $o-brand-odoo;
    }
}

.o_required_modifier {
    &.o_input,
    .o_input {
        background-color: $mk-required-color !important;
    }
}

@include media-breakpoint-down(sm) {
    .o_form_view .mk_mobile_add {
        margin-left: 0 !important;
        margin-bottom: 10px !important;
    }
}
