/**********************************************************************************
*
*    Copyright (c) 2017-today MuK IT GmbH.
*
*    This file is part of MuK Grid Snippets
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

$font-path-noto: "../fonts/Noto";
$font-path-roboto: "../fonts/Roboto";

@mixin mk-roboto-font-face($name, $weight, $style) {
    @font-face {
        font-family: "Noto";
        src: url("#{$font-path-noto}/Noto-#{$name}.eot");
        src: url("#{$font-path-noto}/Noto-#{$name}.eot?#iefix")
                format("embedded-opentype"),
            url("#{$font-path-noto}/Noto-#{$name}.woff") format("woff"),
            url("#{$font-path-noto}/Noto-#{$name}.ttf") format("truetype"),
            url("#{$font-path-noto}/Noto-#{$name}.svg#Noto") format("svg");
        font-weight: $weight;
        font-style: $style;
    }
    @font-face {
        font-family: "Roboto";
        src: url("#{$font-path-roboto}/Roboto-#{$name}.eot");
        src: url("#{$font-path-roboto}/Roboto-#{$name}.eot?#iefix")
                format("embedded-opentype"),
            url("#{$font-path-roboto}/Roboto-#{$name}.woff") format("woff"),
            url("#{$font-path-roboto}/Roboto-#{$name}.ttf") format("truetype"),
            url("#{$font-path-roboto}/Roboto-#{$name}.svg#Roboto") format("svg");
        font-weight: $weight;
        font-style: $style;
    }
}

@include mk-roboto-font-face("Thin", 100, normal);
@include mk-roboto-font-face("ThinItalic", 100, italic);
@include mk-roboto-font-face("Light", 300, normal);
@include mk-roboto-font-face("LightItalic", 300, italic);
@include mk-roboto-font-face("Regular", 400, normal);
@include mk-roboto-font-face("Italic", 400, italic);
@include mk-roboto-font-face("Medium", 500, normal);
@include mk-roboto-font-face("MediumItalic", 500, italic);
@include mk-roboto-font-face("Bold", 700, normal);
@include mk-roboto-font-face("BoldItalic", 700, italic);
@include mk-roboto-font-face("Black", 900, normal);
@include mk-roboto-font-face("BlackItalic", 900, italic);
