/**********************************************************************************
*
*    Copyright (c) 2017-today MuK IT GmbH.
*
*    This file is part of MuK Grid Snippets
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.o_list_view {
    table {
        overflow-x: hidden;
    }
    table,
    thead,
    tfoot,
    td,
    th {
        border: none !important;
    }
    thead {
        background-color: white;
        th.o_column_sortable:hover {
            background-color: white;
        }
    }
    tfoot {
        color: white !important;
        cursor: default;
        font-weight: normal;
    }
}

.o_list_table_grouped.table tbody tr {
    &:nth-of-type(2n + 1) {
        background-color: white;
    }
    &.o_group_header {
        background-image: none;
        background-color: gray("200");
        box-shadow: inset 0 1px 0 gray("300");
    }
    &:hover {
        background-color: gray("200");
    }
}

.o_content,
.modal-content {
    > div > .table-responsive {
        overflow-x: initial;
        > .o_list_view {
            thead,
            thead tr:nth-child(1) th {
                border-bottom: solid 1px gray("300");
                background-color: white;
                position: sticky;
                z-index: 1;
                top: 0;
            }
            tfoot,
            tfoot tr:nth-child(1) td {
                background-color: $o-list-footer-bg-color;
                position: sticky;
                bottom: 0;
            }
        }
    }
}
