/**********************************************************************************
*
*    Copyright (c) 2017-today MuK IT GmbH.
*
*    This file is part of MuK Grid Snippets
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.o_searchview {
    padding: 0;
    border: none;
    width: 100%;
    margin-bottom: 5px;
    button {
        background-color: $white;
        border-color: $border-color;
        color: $gray-600;
        border: none;
    }
    .o_enable_searchview {
        float: right;
    }
    .o_searchview_input_container {
        border-bottom: 1px solid $o-brand-secondary;
    }
}

.o_modal_header {
    .o_searchview,
    .o_pager {
        display: inline-block;
    }
}

// @include media-breakpoint-between(sm, lg, $o-extra-grid-breakpoints) {
// 	.o_search_options {
// 		.mk_dropdown_text {
// 			display: none;
// 		}
// 	}
// }
